.searchForm {
  width: 70% !important;
  margin: 20px auto;
  position: relative;
}
.searchForm input {
  width: 100%;
  max-width: 100%;
  border: none;
  background: linear-gradient(35deg, #2fd6df, var(--mainColor));
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #fff;
  outline: none;
  border-radius: 1rem;
}
.searchForm svg {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
  color: #fff;
}
.searchForm input::placeholder {
  color: #fff;
  transition: 0.3s;
}
.searchForm input:focus::placeholder {
  opacity: 0;
}
/* @media (max-width: 767px) {
  .searchForm {
    width: 20%;
  }
} */
